In [1]:
# Atspausdinkite savo vardą ir pavardę viena print() funkcija
# Panaudokite du kintamuosius
# Panaudokite viengubas ir dvigubas kabutes

vardas="Ernesta"
pavarde='Tumavice'

print(vardas,pavarde)

Ernesta Tumavice

In [6]:
# Iš stringo ‘Python makes me really really happy!’
# Į ekraną išveskite string’ą tik didžiosiomis raidėmis
# Pakeiskite žodį Python į PyThOn naudodami replace()

x= 'Python makes me really really happy!'
print(x)
print(x.upper())
print(x.replace('Python', 'PyThOn'))

Python makes me really really happy!
PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!
Python makes me really really happy!

In [19]:
# Iš stringo ‘Hello World, I am happy to learn Python!’
# Atspausdinkite ‘happy’ naudodami slice sintaksę
#      str[0:10]
#     .index(‘happy’)
#     len(‘happy’)

# Atspausdinkite ‘to’ naudodami slice sintaksę
# Koks šio stringo ilgis?

text = "Hello World, I am happy to learn Python!"
print(text)
print(text [18:23])
print(text.index('happy'))
print(text.index('to'))
print(text [24:26])
print(len(text))
print(len('happy'))

Hello World, I am happy to learn Python!
happy
18
24
to
40
5

In [1]:
# Deklaruokite du int tipo kintamuosius
# Apskaičiuokite dviejų int sumą, skirtumą, sandaugą, liekaną, 
# padalinkite vieną skaičių iš kito

n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana:', n_1%n_2)
print('sveikoji dalis dalybos:', n_1//n_2)
print(n_1/n_2)

27
19
92
dalybos liekana: 3
sveikoji dalis dalybos: 5
5.75

In [2]:
# Deklaruokite du float tipo kintamuosius
# Apskaičiuokite dviejų float sumą, skirtumą, sandaugą,
#  liekaną, padalinkite vieną skaičiu iš kito

N1= 4.6
N2= 5.35
print(N1+N2)
print(N1-N2)
print(N1*N2)
print("dalybos liekana", N1%N2)
print("sveikoji dalis dalyboje", N1//N2)
print(N1/N2)

9.95
-0.75
24.609999999999996
dalybos liekana 4.6
sveikoji dalis dalyboje 0.0
0.8598130841121495

In [3]:
#Atstumas iki Mėnulio yra apie 384,000 km, o iki 
# Saulės 150,000,000, 
# kiek kartų atstumas iki Saulės yra didesnis nei iki Mėnulio?

dist_moon = 384000 #km
dist_sun = 150000000#km
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [19]:
# Jeigu norėtume nuvažiuoti iki mėnulio automobiliu, 
# kurio greitis 150km/h, kiek  valandų.
#  N.d:metų, mėnesių, dienų, sekundžių tai užtruktų?

car_speed = 150 # km/h
print ('valandu:',dist_moon/car_speed)
print ('metu:',(dist_moon/car_speed*(1/(365*24))))
#print ('metu:',(dist_moon/car_speed*0.000114))
#print ('menesiu:',(dist_moon/car_speed*0.001369))
print ('menesiu:',(dist_moon/car_speed*(12/(365*24))))
print ('dienu:',(dist_moon/car_speed)/24)
print ('sekundziu:',(dist_moon/car_speed)*3600)

valandu: 2560.0
metu: 0.2922374429223744
menesiu: 3.506849315068493
dienu: 106.66666666666667
sekundziu: 9216000.0

In [24]:
# Kiek dienų praėjo nuo jūsų gimimo dienos?

from datetime import date

d0 = date(2021, 5, 19)
d1 = date(2022, 2, 18)
delta = d1 - d0
print(delta.days)

275

In [31]:
#Deklaruokite True reikšmę 5 skirtingais būdais

print("ba" in "bananas")
print(True==1)
print(20>10 and 2>=1)
print(bool(12))
print( not "s" in "Lova")
print(1==1)

True
True
True
True
True
True

In [34]:
#Deklaruokite False reikšmę 5 skirtingais būdais
print("r" in "bananas")
print(False==8)
print(20<10 and 2>=1)
print(bool())
print( "s" in "Lova" or 2>10)
print(not 1==1)

False
False
False
False
False
False

In [35]:

#Deklaruoti list tipoduomenį, gauti jo ilgį, 
# pridėti naują elementą
#Patikrinti ar elementas yra jūsų sąraše


sarasas=["mama", 'tetis', 'mociute']
print(sarasas)
print(len(sarasas))
sarasas.append('senelis')
print(sarasas)
print ('sese' in sarasas)

['mama', 'tetis', 'mociute']
3
['mama', 'tetis', 'mociute', 'senelis']
False

In [36]:
# Sudėti du list’us, išimti paskutinį narį iš sudėto listo, 
# išrikiuoti list’ą, suskaičiuoti kiek yra kokios nors 
# reikšmės įvesčių list’e

sarasas_2= ["batas", "ratas", "puodukas"]
print(sarasas_2)
viskas = sarasas+sarasas_2
print(viskas)
viskas.pop()
print(viskas)
viskas.sort
print(viskas)
print(viskas.count("batas"))

['batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
1

In [51]:
# Gaukite reikšmę
# my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
# Į ekraną išveskite 8

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple)
print(my_tuple [3][1][1])
#print(my_tuple[-1][-1][-1] )

(1, 2, ['3', 4, 5], [6, [7, 8]])
8
8

In [50]:
#Pakeiskite reikšmę
# tuple1 = (11, [222, 33], 44, 55)
# tuple1 = (11, [222, 22], 44, 55)

# 1 budas
tuple1 = (11, [222, 33], 44, 55)
# tuple_1[1] = [222, 22] # neveiks
print(tuple1)
tuple1[1][1]=22
#tuple_1[1][-1] = 22
print(tuple1)

(11, [222, 33], 44, 55)
(11, [222, 22], 44, 55)

In [52]:
# 2 budas
tuple_1 = (11, [222, 33], 44, 55)
tmp_list = list(tuple_1)
print(tmp_list)
tmp_list[1] = [222, 22]
tuple_1 = tuple(tmp_list)
print (tuple_1)

[11, [222, 33], 44, 55]
(11, [222, 22], 44, 55)

In [63]:
# Sudėti du tuple, išimti paskutinį narį iš sudėto tuple, 
# išrikiuoti tuple, suskaičiuoti 
# kiek yra kokios nors reikšmės įvesčių tuple,
#  rasti didžiausią reikšmę 


tpl = (1,5,[6,34,7],7) + (5,[7,[222],99],33)
print(tpl)
tmp_list = list(tpl)
print(tmp_list)
tmp_list.pop()
print(tmp_list)
tmp_list.sort()



# tuple_1 = tuple(tmp_list) - ir vel grazinam i tuple
# print (tuple_1)

(1, 5, [6, 34, 7], 7, 5, [7, [222], 99], 33)
[1, 5, [6, 34, 7], 7, 5, [7, [222], 99], 33]
[1, 5, [6, 34, 7], 7, 5, [7, [222], 99]]

TypeError: '<' not supported between instances of 'list' and 'int'