In [4]:
print (type(420))
print (type(420.))
print (type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [7]:
suma = 0
suma = suma + 5
print (suma)
suma = suma + 6
print (suma)
suma +=7
print(suma) # veikia su visom aritmetinem f-jom

5
11
18

In [13]:
sandauga =1
sandauga *=10
print (sandauga)
sandauga *=4.5
print (sandauga)
sandauga **=2 #kelimas kvadratu
print (sandauga)

10
45.0
2025.0

In [16]:
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print(n_1%n_2)
print(n_1//n_2)
print(n_1/n_2)

27
19
92
3
5
5.75

In [18]:

N1= 4.6
N2= 5.35
print(N1+N2)
print(N1-N2)
print(N1*N2)
print("dalybos liekana", N1%N2)
print("sveikoji dalis dalyboje", N1//N2)
print(N1/N2)

9.95
-0.75
24.609999999999996
dalybos liekana 4.6
sveikoji dalis dalyboje 0.0
0.8598130841121495

In [19]:
dist_moon = 384000 #km
dist_sun = 150000000#km
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [21]:
car_speed = 150 # km/h
print ('valandu:',dist_moon/car_speed)

valandu: 2560.0

In [23]:
loginis_kintamsis = True
print (type(loginis_kintamsis))
print(loginis_kintamsis)

<class 'bool'>
True

In [25]:
print(int(loginis_kintamsis)) #pakeicia i sveika skaiciu
print(int(False))

1
0

In [35]:
numbb=50
print(10>5)
print(10<5)
print(10<10)
print(10<=10)
print(10>=10)
print('50== numbb', 50==numbb)
print('100== numbb', 100==numbb)
print('100== numbb', 100==numbb)
print('100!= numbb', 100!=numbb)

#== lygu reiskai, = priskiria reiksme

True
False
False
True
True
50== numbb True
100== numbb False
100== numbb False
100!= numbb True

In [40]:
print('bool (1654):', bool (1654))
print(bool (0))
print(bool (-1))

bool (1654): True
False
True

In [44]:
print('bool (tekstas):', bool ("tekstas"))
print('bool ():', bool ("")) #nieko nera
print('bool (" "):', bool (" ")) #tarpas

bool (tekstas): True
bool (): False
bool (" "): True

In [54]:
print(10<5 and 10>8)
#False and True = bendras bus False
print(10<50 and 10>8)
print(10<5 or 10>8)
#False and True = bendras bus True
print (not 5>10) #priesinga ats paduoda - not
print(not True)
print(not False)

False
True
True
True
False
True

In [61]:
print( "Vilnius" in "Vilnius, Kaunas")
print( "Klaipeda" in "Vilnius, Kaunas")
print( "s" in "Vilnius, Kaunas")
print( "Kau" in "Vilnius, Kaunas")
print( "kau" in "Vilnius, Kaunas")

True
False
True
True
False