In [4]:
print (type(420))
print (type(420.))
print (type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [7]:
suma = 0
suma = suma + 5
print (suma)
suma = suma + 6
print (suma)
suma +=7
print(suma) # veikia su visom aritmetinem f-jom

5
11
18

In [13]:
sandauga =1
sandauga *=10
print (sandauga)
sandauga *=4.5
print (sandauga)
sandauga **=2 #kelimas kvadratu
print (sandauga)

10
45.0
2025.0

In [16]:
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print(n_1%n_2)
print(n_1//n_2)
print(n_1/n_2)

27
19
92
3
5
5.75

In [18]:

N1= 4.6
N2= 5.35
print(N1+N2)
print(N1-N2)
print(N1*N2)
print("dalybos liekana", N1%N2)
print("sveikoji dalis dalyboje", N1//N2)
print(N1/N2)

9.95
-0.75
24.609999999999996
dalybos liekana 4.6
sveikoji dalis dalyboje 0.0
0.8598130841121495

In [19]:
dist_moon = 384000 #km
dist_sun = 150000000#km
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [21]:
car_speed = 150 # km/h
print ('valandu:',dist_moon/car_speed)

valandu: 2560.0

In [23]:
loginis_kintamsis = True
print (type(loginis_kintamsis))
print(loginis_kintamsis)

<class 'bool'>
True

In [25]:
print(int(loginis_kintamsis)) #pakeicia i sveika skaiciu
print(int(False))

1
0

In [35]:
numbb=50
print(10>5)
print(10<5)
print(10<10)
print(10<=10)
print(10>=10)
print('50== numbb', 50==numbb)
print('100== numbb', 100==numbb)
print('100== numbb', 100==numbb)
print('100!= numbb', 100!=numbb)

#== lygu reiskai, = priskiria reiksme

True
False
False
True
True
50== numbb True
100== numbb False
100== numbb False
100!= numbb True

In [40]:
print('bool (1654):', bool (1654))
print(bool (0))
print(bool (-1))

bool (1654): True
False
True

In [44]:
print('bool (tekstas):', bool ("tekstas"))
print('bool ():', bool ("")) #nieko nera
print('bool (" "):', bool (" ")) #tarpas

bool (tekstas): True
bool (): False
bool (" "): True

In [54]:
print(10<5 and 10>8)
#False and True = bendras bus False
print(10<50 and 10>8)
print(10<5 or 10>8)
#False and True = bendras bus True
print (not 5>10) #priesinga ats paduoda - not
print(not True)
print(not False)

False
True
True
True
False
True

In [61]:
print( "Vilnius" in "Vilnius, Kaunas")
print( "Klaipeda" in "Vilnius, Kaunas")
print( "s" in "Vilnius, Kaunas")
print( "Kau" in "Vilnius, Kaunas")
print( "kau" in "Vilnius, Kaunas")

True
False
True
True
False

In [65]:
print(True ==1)
print(False ==1)
print(False ==8)
print(False ==0)

True
False
False
True

In [73]:
print("ba" in "bananas")
print(True==1)
print(20>10 and 2>=1)
print(bool(12))
print( not "s" in "Lova")

True
True
True
True
True

In [80]:
print("r" in "bananas")
print(True==8)
print(20<10 and 2>=1)
print(bool())
print( "s" in "Lova" and 2>10)

False
False
False
False
False

In [83]:
print(str(True))

True

In [86]:
float_1=2.2
float_2=3.3
print(float_1-float_2) # tai nera klaida,

-1.0999999999999996

# List

In [93]:
cities =['Vilnius', "Kaunas", 'Klaipeda']
print(type(cities))
print(type([]))
print(cities[0])
print(cities[-1])
print(cities[1:]) #slicing

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [94]:
cities [-1]= "Siauliai"
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [112]:
cities.append('Panevezys') #prideda str kiekviena karta paleidziant f-ja
print(cities)
cities.append('Marijampole')

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Marijampole', 'Panevezys']

In [113]:
cities.remove("Panevezys") #pasalina pirma pasitaikiusia verte
print(cities)
cities.pop() #pasalina paskutine verte
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Marijampole', 'Panevezys', 'Marijampole']
['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Marijampole', 'Panevezys']

In [116]:
print(cities)
new_cities = ["New York", "London"]
cities.extend(new_cities)
print ('po extend')
print(cities)
## reikia papildyti

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Marijampole', 'Panevezys', 'New York', 'London']
po extend
['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Marijampole', 'Panevezys', 'New York', 'London', 'New York', 'London']

In [117]:
cities.clear()
print(cities)

[]

In [122]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
print(cities)
print(cities.count('a'))

['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
0

In [124]:
print(cities.index("Panevezys"))

4

In [125]:
cities.insert(2, "Klaipeda")
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys']

In [126]:
cities.reverse() # f-ja galutinai pakeicia lista
print(cities)

['Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [128]:
print(cities[::-1]) #apsuka sarasa, bet ne visam, tik tam paleidimui
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys']
['Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [130]:
number=[1223,4556,667,8889,7665]
print(number)

[1223, 4556, 667, 8889, 7665]

In [131]:
number.sort() #didejimo tvarka
print(number)

[667, 1223, 4556, 7665, 8889]

In [132]:
number.sort(reverse=True) # mazejimo tvarka
print(number)

[8889, 7665, 4556, 1223, 667]

In [138]:
print(bool([]))
print(bool([5]))
print(bool([False, 0 , '']))

print("Vilnius" in cities)
print("Berlin" in cities)

False
True
True
True
False

In [140]:
my_list = [1,3,45]+["A", False]
print(my_list)
# my_list = [1,3,45]-["A", False] neveikia

[1, 3, 45, 'A', False]

In [141]:
my_list= ['first', 3, 54] * 23
print(my_list)

['first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54]

# Mutable vs. Imutable variables

In [149]:
# Imutable
number_1= 6
number_2= number_1
print(id(number_2))
print(id(number_1))
number_2=13
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

1776701473168
1776701473168
number_1 6
number_2 13
1776701473392
1776701473168

In [151]:
#Mutable

number_1= [1,5,10]
number_2= number_1
print(id(number_1))
print(id(number_2))
number_2.append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

1776813456576
1776813456576
number_1 [1, 5, 10, 13]
number_2 [1, 5, 10, 13]
1776813456576
1776813456576

In [153]:
# fix 1 for mutable variables - daug uzima atminties ir laiko
number_1= [1,5,10]
number_2= number_1.copy()
print(id(number_1))
print(id(number_2))
number_2.append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

1776813438656
1776813456576
number_1 [1, 5, 10]
number_2 [1, 5, 10, 13]
1776813456576
1776813438656

In [155]:

number_1= [1,5,[10, 20]]
number_2= number_1.copy() #will fail
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

1776813432640
1776813438400
1776813443712
1776813443712
number_1 [1, 5, [10, 20, 13]]
number_2 [1, 5, [10, 20, 13]]
1776813438400
1776813432640

In [156]:
#Best fix for mutable variables
import copy

number_1= [1,5,[10, 20]]
number_2= copy.deepcopy (number_1)
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

1776813439104
1776813438464
1776813342784
1776813352192
number_1 [1, 5, [10, 20]]
number_2 [1, 5, [10, 20, 13]]
1776813438464
1776813439104

In [161]:
sarasas=["mama", 'tetis', 'mociute']
print(sarasas)
print(len(sarasas))
sarasas.append('senelis')
print(sarasas)

['mama', 'tetis', 'mociute']
3
['mama', 'tetis', 'mociute', 'senelis']

In [162]:
print ('sese' in sarasas)

False

In [172]:
sarasas_2= ["batas", "ratas", "puodukas"]
print(sarasas_2)
viskas = sarasas+sarasas_2
print(viskas)
viskas.pop()
print(viskas)
viskas.sort
print(viskas)
print(viskas.count("batas"))

['batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
1

In [178]:
my_list_2= [1,[[233, 334], 34,4],234]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])
print(my_list_2[1][0][1])

[1, [[233, 334], 34, 4], 234]
[[233, 334], 34, 4]
[233, 334]
334

# Tuple

In [179]:
my_tuple=(1,2,3)

In [182]:
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [184]:
print(my_tuple.count(3))
print(my_tuple.index(3))

1
2

In [185]:
# my_tuple[2]= 5 neveiks - negalima perrasyti reiksmiu
my_tuple=my_tuple +(5,10)
print(my_tuple)

(1, 2, 3, 5, 10)

In [190]:
combined = (1,4,4) + (5,5,5)
print(combined)
print(5 in combined)

(1, 4, 4, 5, 5, 5)
True

In [196]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple [3][1][1])
print (my_tuple [-1][-1][-1])

8
8

In [201]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][-1]=22
print(tuple1)

(11, [222, 22], 44, 55)

In [ ]:
tuple1 = (11, [222, 33], 44, 55)

# Range

In [202]:
my_numbers = range(54,158,3)

In [205]:
print(type(my_numbers))
print(my_numbers)
print(list(my_numbers))

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [208]:
print(list(range(50, -158,-7)))
print(list(range(20,81,2))) # paskutinis bus 80

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]