In [18]:
print (type(420))
print (type(420.))
print (type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [19]:
suma = 0
suma = suma + 5
print (suma)
suma = suma + 6
print (suma)
suma +=7
print(suma) # veikia su visom aritmetinem f-jom

5
11
18

In [20]:
sandauga =1
sandauga *=10
print (sandauga)
sandauga *=4.5
print (sandauga)
sandauga **=2 #kelimas kvadratu
print (sandauga)

10
45.0
2025.0

In [21]:
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana:', n_1%n_2)
print('sveikoji dalis dalybos:', n_1//n_2)
print(n_1/n_2)

27
19
92
dalybos liekana: 3
sveikoji dalis dalybos: 5
5.75

In [22]:

N1= 4.6
N2= 5.35
print(N1+N2)
print(N1-N2)
print(N1*N2)
print("dalybos liekana", N1%N2)
print("sveikoji dalis dalyboje", N1//N2)
print(N1/N2)

9.95
-0.75
24.609999999999996
dalybos liekana 4.6
sveikoji dalis dalyboje 0.0
0.8598130841121495

In [23]:
dist_moon = 384000 #km
dist_sun = 150000000#km
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis nei iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei iki menulio

In [24]:
car_speed = 150 # km/h
print ('valandu:',dist_moon/car_speed)

valandu: 2560.0

In [25]:
loginis_kintamsis = True
print (type(loginis_kintamsis))
print(loginis_kintamsis)

<class 'bool'>
True

In [26]:
print(int(loginis_kintamsis)) #pakeicia i sveika skaiciu
print(int(False))

1
0

In [27]:
numbb=50
print(10>5)
print(10<5)
print(10<10)
print(10<=10)
print(10>=10)
print('50== numbb', 50==numbb)
print('100== numbb', 100==numbb)
print('50! == numbb', 50!=numbb)
print('100!= numbb', 100!=numbb) #!= nelygu 

#== lygu reiskai, = priskiria reiksme, #!= nelygu

True
False
False
True
True
50== numbb True
100== numbb False
50! == numbb False
100!= numbb True

In [28]:
print('bool (1654):', bool (1654))
print(bool (0))
print(bool (-1))

bool (1654): True
False
True

In [29]:
print('bool (tekstas):', bool ("tekstas"))
print('bool ():', bool ("")) #nieko nera
print('bool (" "):', bool (" ")) #tarpas

bool (tekstas): True
bool (): False
bool (" "): True

In [30]:
print(10<5 and 10>8)
#False and True = bendras bus False
print(10<50 and 10>8)
print(10<5 or 10>8)
#False and True = bendras bus True
print (not 5>10) #priesinga ats paduoda - not
print(not True)
print(not False)

False
True
True
True
False
True

In [31]:
print( "Vilnius" in "Vilnius, Kaunas")
print( "Klaipeda" in "Vilnius, Kaunas")
print( "s" in "Vilnius, Kaunas")
print( "Kau" in "Vilnius, Kaunas")
print( "kau" in "Vilnius, Kaunas")

True
False
True
True
False

In [32]:
print(True ==1)
print(False ==1)
print(False ==8)
print(False ==0)

True
False
False
True

In [33]:
print("ba" in "bananas")
print(True==1)
print(20>10 and 2>=1)
print(bool(12))
print( not "s" in "Lova")

True
True
True
True
True

In [34]:
print("r" in "bananas")
print(True==8)
print(20<10 and 2>=1)
print(bool())
print( "s" in "Lova" and 2>10)

False
False
False
False
False

In [35]:
print(str(True))

True

In [36]:
float_1=2.2
float_2=3.3
print(float_1-float_2) # tai nera klaida, taip kompiuteriai veikia dvejetaineje sistemoje

-1.0999999999999996

# List

In [37]:
cities =['Vilnius', "Kaunas", 'Klaipeda']
print(type(cities))
print(type([]))
print(cities[0])
print(cities[-1])
print(cities[1:]) #slicing
print(cities.index("Vilnius"))

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']
0

In [77]:
cities [-1]= "Siauliai"
print(cities)
cities [0] = "kar kar"
print(cities)
cities [0] = "Vilnius"
print(cities)

['Vilius', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Siauliai']
['kar kar', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Siauliai']
['Vilnius', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Siauliai']

In [101]:
cities.append('Panevezys') #prideda str gale kiekviena karta paleidziant f-ja
cities.append('Marijampole')
print(cities)

['Vilnius', 'Siauliai', 'Klaipeda', 'Kaunas', 'Panevezys', 'Panevezys', 'Panevezys', 'Marijampole']

In [112]:
cities.remove("Panevezys") #pasalina pirma pasitaikiusia verte
print(cities)

['Vilnius', 'Siauliai', 'Klaipeda', 'Panevezys', 'New York', 'London', 'New York', 'London', 'New York', 'London', 'Panevezys']

In [110]:
cities.append('Panevezys') #prideda str gale kiekviena karta paleidziant f-ja
print(cities)

['Vilnius', 'Siauliai', 'Klaipeda', 'Panevezys', 'Panevezys', 'New York', 'London', 'New York', 'London', 'New York', 'London', 'Panevezys']

In [121]:
cities.pop() #pasalina paskutine verte

print(cities)

['Vilnius', 'Siauliai']

In [127]:
cities.append("Kaunas")
print(cities)

['Vilnius', 'Siauliai', 'Kaunas', 'Kaunas']

In [128]:
cities.remove('Kaunas')
print(cities)

['Vilnius', 'Siauliai', 'Kaunas']

In [129]:
cities[1]="Kaunas"
print(cities)

['Vilnius', 'Kaunas', 'Kaunas']

In [130]:
cities[2]="Klaipeda"
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda']

In [142]:
new_cities = ["New York", "London"]
print(cities)
cities.extend(new_cities)
print ('po extend')
print(cities)
print(len(cities))
cities.pop()
cities.pop()
print ('po append')
cities.append(new_cities)
print(len(cities))
print(cities)

['Vilnius', 'Kaunas']
po extend
['Vilnius', 'Kaunas', 'New York', 'London']
4
po append
3
['Vilnius', 'Kaunas', ['New York', 'London']]

In [141]:
cities.pop()
cities.pop()
print(cities)

['Vilnius', 'Kaunas']

In [143]:
cities.clear()
print(cities)

[]

In [148]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']
print(cities.count("Vilnius"))

1

In [153]:
print(cities.index("Panevezys"))

7

In [154]:
cities.insert(1, "Plunge")
print(cities)

['Vilnius', 'Plunge', 'Kaunas', 'Klaipeda', 'Klaipeda', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys']

In [158]:
cities.reverse() # f-ja galutinai pakeicia lista
print(cities)

['Vilnius', 'Plunge', 'Kaunas', 'Klaipeda', 'Klaipeda', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys']

In [47]:
print(cities[::-1]) #apsuka sarasa, bet ne visam, tik tam paleidimui
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys']
['Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [48]:
number=[1223,4556,667,8889,7665]
print(number)

[1223, 4556, 667, 8889, 7665]

In [49]:
number.sort() #didejimo tvarka
print(number)

[667, 1223, 4556, 7665, 8889]

In [50]:
number.sort(reverse=True) # mazejimo tvarka
print(number)

[8889, 7665, 4556, 1223, 667]

In [51]:
print(bool([]))
print(bool([5]))
print(bool([False, 0 , '']))

print("Vilnius" in cities)
print("Berlin" in cities)

False
True
True
True
False

In [159]:
my_list = [1,3,45]+["A", False]
print(my_list)
# my_list = [1,3,45]-["A", False] neveikia

[1, 3, 45, 'A', False]

In [53]:
my_list= ['first', 3, 54] * 23
print(my_list)

['first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54, 'first', 3, 54]

# Mutable vs. Imutable variables

In [54]:
# Imutable
number_1= 6
number_2= number_1
print(id(number_2))
print(id(number_1))
number_2=13
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

2233831063952
2233831063952
number_1 6
number_2 13
2233831064176
2233831063952

In [55]:
#Mutable - list, set, dict

number_1= [1,5,10]
number_2= number_1
print(id(number_1))
print(id(number_2))
number_2.append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

2233944184064
2233944184064
number_1 [1, 5, 10, 13]
number_2 [1, 5, 10, 13]
2233944184064
2233944184064

In [56]:
# fix 1 for mutable variables - daug uzima atminties ir laiko
number_1= [1,5,10]
number_2= number_1.copy()
print(id(number_1))
print(id(number_2))
number_2.append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

2233944175168
2233944183232
number_1 [1, 5, 10]
number_2 [1, 5, 10, 13]
2233944183232
2233944175168

In [57]:

number_1= [1,5,[10, 20]]
number_2= number_1.copy() #will fail
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

2233944158592
2233944156480
2233944152832
2233944152832
number_1 [1, 5, [10, 20, 13]]
number_2 [1, 5, [10, 20, 13]]
2233944156480
2233944158592

In [58]:
#Best fix for mutable variables
import copy

number_1= [1,5,[10, 20]]
number_2= copy.deepcopy (number_1)
print(id(number_1))
print(id(number_2))
print(id(number_1[2]))
print(id(number_2[2]))
number_2[2].append(13)
print("number_1", number_1)
print("number_2",number_2)
print(id(number_2))
print(id(number_1))

2233944154944
2233944158400
2233944156608
2233944173376
number_1 [1, 5, [10, 20]]
number_2 [1, 5, [10, 20, 13]]
2233944158400
2233944154944

In [170]:
sarasas=["mama", 'tetis', 'mociute']
print(sarasas)
print(len(sarasas))
sarasas.append('senelis')
print(sarasas)
print ('sese' in sarasas)

['mama', 'tetis', 'mociute']
3
['mama', 'tetis', 'mociute', 'senelis']
False

In [171]:
print ('sese' in sarasas)

False

In [61]:
sarasas_2= ["batas", "ratas", "puodukas"]
print(sarasas_2)
viskas = sarasas+sarasas_2
print(viskas)
viskas.pop()
print(viskas)
viskas.sort
print(viskas)
print(viskas.count("batas"))

['batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas', 'puodukas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
['mama', 'tetis', 'mociute', 'senelis', 'batas', 'ratas']
1

In [172]:
my_list_2 = [1, [[5416, 3], 521,4], 54]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])
print(my_list_2[1][0][1])

[1, [[5416, 3], 521, 4], 54]
[[5416, 3], 521, 4]
[5416, 3]
3

# Tuple

In [184]:
my_tuple=(1,2,3)

In [185]:
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2])

(1, 2, 3)
2
(1, 2)

In [186]:
print(my_tuple.count(3))
print(my_tuple.index(3))

1
2

In [192]:
# my_tuple[2]= 5 neveiks - negalima perrasyti reiksmiu
#my_tuple=my_tuple +(5,10)
my_tuple+=(2,3)
print(my_tuple)

(1, 2, 3, 5, 10, 5, 10, 5, 10, 2, 3, 2, 3, 2, 3)

In [196]:
combined = (1,4,4) + (5,5,5)
print(combined)
print(5 in combined)
print(len(combined))
print(combined.count(5))

(1, 4, 4, 5, 5, 5)
True
6
3

In [197]:
my_tuple_2 = ( 1,5,[4,8])
print (my_tuple_2)

(1, 5, [4, 8])

In [198]:
my_tuple_2[2].append(100)
print (my_tuple_2)

(1, 5, [4, 8, 100])

In [68]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple [3][1][1])
print (my_tuple [-1][-1][-1])

8
8

In [74]:
tuple1 = (11, [222, 33], 44, 55)
# tuple_1[1] = [222, 22] # neveiks
tuple1[1][-1]=22
print(tuple1)

(11, [222, 22], 44, 55)

In [200]:
# 2 budas
tuple_1 = (11, [222, 33], 44, 55)
tmp_list = list(tuple_1)
print(tmp_list)
tmp_list[1] = [222, 22]
tuple_1 = tuple(tmp_list)
print (tuple_1)

[11, [222, 33], 44, 55]
(11, [222, 22], 44, 55)

In [201]:
print (type(tuple_1))
print (type( () ))

<class 'tuple'>
<class 'tuple'>

# Range

In [ ]:
my_numbers = range(54,158,3)

In [ ]:
print(type(my_numbers))
print(my_numbers)
print(list(my_numbers))

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [ ]:
print(list(range(50, -158,-7)))
print(list(range(20,81,2))) # paskutinis bus 80

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [205]:
for number in range (3,11,2):
    print ('ciklas prasidejo')
    print(number)
print('pabaiga')

ciklas prasidejo
3
ciklas prasidejo
5
ciklas prasidejo
7
ciklas prasidejo
9
pabaiga