In [8]:
cities = ["Vilnius","Kaunas", "Siauliai", "Panevezys"]

In [9]:
for city in cities:
    print(city)
    print(f'Sveikiname {city} su svente')
    print('pradedam sekancia ciklo iteracija')
print("po ciklo")

Vilnius
Sveikiname Vilnius su svente
pradedam sekancia ciklo iteracija
Kaunas
Sveikiname Kaunas su svente
pradedam sekancia ciklo iteracija
Siauliai
Sveikiname Siauliai su svente
pradedam sekancia ciklo iteracija
Panevezys
Sveikiname Panevezys su svente
pradedam sekancia ciklo iteracija
po ciklo

In [10]:
#Atspausdinkite pirmus 10 imtinai skaičių naudodami for loop

for number in range (1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [11]:
#Gaukite sumą pirmų 50 skaičių imtinai

suma=0

for number in range (1,51):
    suma+=number
print(suma)

1275

In [ ]:
#Gaukite sumą pirmų 50 skaičių imtinai

suma=0 #teisingai

for number in range (1,51):
    suma+=number
print(suma)


for number in range (1,51):
    number+=number
    print(number)


for number in range (1,51): #?
    number+=number
print(number)

In [12]:
for number in range (1,51):
    number+=number
print(number)

100

In [13]:
# Leiskite pasirinkti skaičių, 
# atspausdinkite jo sandaugą nuo 1 iki 10 imtinai

input_number = int(input("Iveskite skaiciu:"))
print(input_number)

for number in range(1,11):
    print(f'{input_number}*{number} = {input_number * number }')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Gaukite visas įmanomas kombinacijas iš šių sąrašų, įrašykite jas į list’ą


dienos = ["Pirmadienis", "Antradienis", "Treciadienis", "Ketvirtadienis", "Penktadienis", "Sestadienis" , "Sekmadienis"]
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

#rr = [x+y for x in ['Python ','C '] for y in ['Language','Programming']]

# kombinacijos = [dienos + valandos for dienos in ["Pirmadienis", "Antradienis", "Treciadienis", "Ketvirtadienis", "Penktadienis", "Sestadienis" , "Sekmadienis"] for
# valandos in ["10", "11", '12', '13', '14', '15', '16', '17', '18', '19']]
# print(kombinacijos)


kombinacijos =[]

for diena in dienos:
    for valanda in valandos:
        kombinacijos.append( (diena,valanda) )
        #print('antras ciklas', diena,valanda)
    #print(diena,valanda)    
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [ ]:


for diena in dienos:
    for valanda in valandos:
        print( diena,valanda)

Pirmadienis 10
Pirmadienis 11
Pirmadienis 12
Pirmadienis 13
Pirmadienis 14
Pirmadienis 15
Pirmadienis 16
Pirmadienis 17
Pirmadienis 18
Pirmadienis 19
Antradienis 10
Antradienis 11
Antradienis 12
Antradienis 13
Antradienis 14
Antradienis 15
Antradienis 16
Antradienis 17
Antradienis 18
Antradienis 19
Treciadienis 10
Treciadienis 11
Treciadienis 12
Treciadienis 13
Treciadienis 14
Treciadienis 15
Treciadienis 16
Treciadienis 17
Treciadienis 18
Treciadienis 19
Ketvirtadienis 10
Ketvirtadienis 11
Ketvirtadienis 12
Ketvirtadienis 13
Ketvirtadienis 14
Ketvirtadienis 15
Ketvirtadienis 16
Ketvirtadienis 17
Ketvirtadienis 18
Ketvirtadienis 19
Penktadienis 10
Penktadienis 11
Penktadienis 12
Penktadienis 13
Penktadienis 14
Penktadienis 15
Penktadienis 16
Penktadienis 17
Penktadienis 18
Penktadienis 19
Sestadienis 10
Sestadienis 11
Sestadienis 12
Sestadienis 13
Sestadienis 14
Sestadienis 15
Sestadienis 16
Sestadienis 17
Sestadienis 18
Sestadienis 19
Sekmadienis 10
Sekmadienis 11
Sekmadienis 12
Sekmadienis 13
Sekmadienis 14
Sekmadienis 15
Sekmadienis 16
Sekmadienis 17
Sekmadienis 18
Sekmadienis 19

In [ ]:
rr = [x+y for x in ['Python ','C '] for y in ['Language','Programming']]
print(rr)

kombinacijos = [ (f'{dienos} ') +  valandos for dienos in ["Pirmadienis", "Antradienis", "Treciadienis", "Ketvirtadienis", "Penktadienis", "Sestadienis" , "Sekmadienis"] for
valandos in ["10", "11", '12', '13', '14', '15', '16', '17', '18', '19']]
print(kombinacijos)

['Python Language', 'Python Programming', 'C Language', 'C Programming']
['Pirmadienis 10', 'Pirmadienis 11', 'Pirmadienis 12', 'Pirmadienis 13', 'Pirmadienis 14', 'Pirmadienis 15', 'Pirmadienis 16', 'Pirmadienis 17', 'Pirmadienis 18', 'Pirmadienis 19', 'Antradienis 10', 'Antradienis 11', 'Antradienis 12', 'Antradienis 13', 'Antradienis 14', 'Antradienis 15', 'Antradienis 16', 'Antradienis 17', 'Antradienis 18', 'Antradienis 19', 'Treciadienis 10', 'Treciadienis 11', 'Treciadienis 12', 'Treciadienis 13', 'Treciadienis 14', 'Treciadienis 15', 'Treciadienis 16', 'Treciadienis 17', 'Treciadienis 18', 'Treciadienis 19', 'Ketvirtadienis 10', 'Ketvirtadienis 11', 'Ketvirtadienis 12', 'Ketvirtadienis 13', 'Ketvirtadienis 14', 'Ketvirtadienis 15', 'Ketvirtadienis 16', 'Ketvirtadienis 17', 'Ketvirtadienis 18', 'Ketvirtadienis 19', 'Penktadienis 10', 'Penktadienis 11', 'Penktadienis 12', 'Penktadienis 13', 'Penktadienis 14', 'Penktadienis 15', 'Penktadienis 16', 'Penktadienis 17', 'Penktadienis 18', 'Penktadienis 19', 'Sestadienis 10', 'Sestadienis 11', 'Sestadienis 12', 'Sestadienis 13', 'Sestadienis 14', 'Sestadienis 15', 'Sestadienis 16', 'Sestadienis 17', 'Sestadienis 18', 'Sestadienis 19', 'Sekmadienis 10', 'Sekmadienis 11', 'Sekmadienis 12', 'Sekmadienis 13', 'Sekmadienis 14', 'Sekmadienis 15', 'Sekmadienis 16', 'Sekmadienis 17', 'Sekmadienis 18', 'Sekmadienis 19']

In [ ]:
x = 5

if x>2:
    print('x yra daugiau uz du')

print ('po if salygos')

x yra daugiau uz du
po if salygos

In [ ]:
x=0
if x>2:
    print('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')

x nera daugiau uz du

In [ ]:
x = 0
y= 38

if x>10:
    print('if salyga atitinka')
elif x>0 and y>10:
    print ('atitinka elif salyga')
elif x>-5 and y>30:
    print ('atitinka antra elif salyga')
else:
    print('else salyga')

print('po if salygos')

atitinka antra elif salyga
po if salygos

In [ ]:
# Atspausdinkite pirmus 20 skaičių, jeigu jis dalinasi iš 3 be 
# liekanos naudodami for loop ir if 

for number in range(1,21):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [ ]:
# Gaukite sumą pirmų 50 skaičių imtinai, tik tada, 
# jei nauja einama suma bus lyginė

suma=0

for number in range (1,51):
    if (suma + number) % 2 == 0:
        suma+=number
    #print(suma)    
print(suma)

650

In [ ]:
#Leiskite pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 
# tik tada, jei pasirinktas skaičius pakeltas kvadratu yra nelyginis


input_number = int(input("Iveskite skaiciu:"))
print(input_number)

for number in range(1,11):
    if (input_number **2 ) % 2 != 0:
        print(f'{input_number}*{number} = {input_number * number }')

3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [ ]:
#gerenis variantas nes sutaupo laiko

input_number = int(input("Iveskite skaiciu:"))
print(input_number)

if (input_number **2 ) % 2 != 0:
    for number in range(1,11):
        print(f'{input_number}*{number} = {input_number * number }')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

6
skaicius pakeltas kvadratu yra lyginis

In [ ]:
# Gaukite visas įmanomas kombinacijas iš šių sąrašų tik tada, 
# jei diena yra arba pirmadienis arba trečiadienis, 
# o valandos yra nuo 12 iki 17, įrašykite jas į list’ą


dienos = ["Pirmadienis", "Antradienis", "Treciadienis", "Ketvirtadienis", "Penktadienis", "Sestadienis" , "Sekmadienis"]
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

darbo_dienos = ["Pirmadienis", "Treciadienis"]
darbo_valandos= list(range(12,18))

kombinacijos =[]

for diena in dienos:
    #if diena == 'Pirmadienis' or diena == 'Treciadienis':
    #if diena in ["Pirmadienis", "Treciadienis"]:
    if diena in darbo_dienos:
        for valanda in valandos:
            #if valanda in range (12,18):
            if valanda in darbo_valandos:
                kombinacijos.append( (diena,valanda) )
        #print('antras ciklas', diena,valanda)
    #print(diena,valanda)    
print(kombinacijos)

antras ciklas Pirmadienis 19
antras ciklas Treciadienis 19

In [ ]:
dienos = ["Pirmadienis", "Antradienis", "Treciadienis", "Ketvirtadienis", "Penktadienis", "Sestadienis" , "Sekmadienis"]
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

darbo_dienos = ["Pirmadienis", "Treciadienis"]
darbo_valandos= list(range(12,18))

kombinacijos =[]

for diena in dienos:
    if diena in darbo_dienos:
        for valanda in valandos:
            if valanda in darbo_valandos:
                kombinacijos.append( (diena,valanda) )
print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

In [ ]:
niekas = None 
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [ ]:
user_name = ''
user_name = input("irasykite varda")

if user_name:

In [ ]:
name = None
# name = ""
for i in range(5):
    if name == None:
        print(f"variable 'name' has no value (None), assigning name")
        value = input("Enter your name:")
        if value:
            name = value
    else:
        print(f"variable 'name' has value of {name}")

variable 'name' has no value (None), assigning name
variable 'name' has value of None
variable 'name' has value of None
variable 'name' has value of None
variable 'name' has value of None

In [ ]:
print (name)

None

In [ ]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [ ]:
numbers = list(range(1,21))
dividible_by_3 = [ number for number in numbers ]

print(dividible_by_3)

dividible_by_3 = [ number for number in numbers if number % 3 ==0 ]
print(dividible_by_3)

dividible_by_3 = [ number**2 for number in numbers if number % 3 ==0 ]
print(dividible_by_3)

dividible_by_3 = [ (number, number**2) for number in numbers if number % 3 ==0 ]
print(dividible_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]
[(3, 9), (6, 36), (9, 81), (12, 144), (15, 225), (18, 324)]

In [ ]:
dividible_by_3 = [number if number % 3 ==0 else 100 for number in numbers ]
print(dividible_by_3)

[100, 100, 3, 100, 100, 6, 100, 100, 9, 100, 100, 12, 100, 100, 15, 100, 100, 18, 100, 100]

In [ ]:
x_axis = [1,2,3,4] 
y_axis= (5,4,8,3)
mult = [x*y for x in x_axis for y in y_axis]
print(mult)
mult = [x*y for x,y in zip(x_axis,y_axis)]
print(mult)

[5, 4, 8, 3, 10, 8, 16, 6, 15, 12, 24, 9, 20, 16, 32, 12]
[5, 8, 24, 12]

In [ ]:
my_dictionary = {
    "name": "Ernesta",
    "surname": "Tumavice",
    "age": 26,
    "hobbies": ["books", "films"]
}

In [ ]:
print(my_dictionary['name'])

Ernesta

In [ ]:
my_dictionary["age"]=34
print(my_dictionary)

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 34, 'hobbies': ['books', 'films']}

In [ ]:
my_dictionary["city"]="Vilnius"
print(my_dictionary)
print(len(my_dictionary))

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 34, 'hobbies': ['books', 'films'], 'city': 'Vilnius'}
5

# Dictiniory is mutable

In [ ]:
my_dictionary.copy()

In [ ]:
print(my_dictionary.get('city'))

Vilnius

In [ ]:
print(my_dictionary["car"])

KeyError: 'car'

In [ ]:
print(my_dictionary.get('car'))
print(my_dictionary.get('car', "No car"))

None
No car

In [ ]:
print(my_dictionary)

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 34, 'hobbies': ['books', 'films'], 'city': 'Vilnius'}

In [ ]:
my_dictionary[10] = "desimt"
print(my_dictionary)
print(my_dictionary.pop(10))
my_dictionary.pop(10)
print(my_dictionary)

NameError: name 'my_dictionary' is not defined

In [16]:
my_dictionary = {
    "name": "Ernesta",
    "surname": "Tumavice",
    "age": 26,
    "hobbies": ["books", "films"]
}

my_dictionary[None] = "niekas" 
print(my_dictionary)

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 26, 'hobbies': ['books', 'films'], None: 'niekas'}

In [17]:


my_dictionary[None] = "niekas"  
key, value = my_dictionary.popitem() # nereikia jokiu reiksmiu, pasalina viena pora k,v ir galima po to tas reiksmes atsispausdinti
print(my_dictionary)
print(key, value)

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 26, 'hobbies': ['books', 'films']}
None niekas

In [18]:
new_dictionary = {
    "name":"Ernesta",
    "age":20,
    "hobbies":"swimming",
    "age":26

}

my_dictionary.update(new_dictionary)

print(my_dictionary)

{'name': 'Ernesta', 'surname': 'Tumavice', 'age': 26, 'hobbies': 'swimming'}

In [ ]:
for value in my_dictionary.values():
    print(value)

Ernesta
Tumavice
26
swimming
Vilnius

In [ ]:
for key in my_dictionary.keys():
    print(key)

name
surname
age
hobbies
city

In [ ]:
for k, v in my_dictionary.items():
    print(f'key {k} has a value of: {v}')

key name has a value of: Ernesta
key surname has a value of: Tumavice
key age has a value of: 26
key hobbies has a value of: swimming
key city has a value of: Vilnius

In [ ]:
# Atspausdinkite ‘Ford’, gaukite žodyno car ilgį, 
# pakeiskite metus į 2022

car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get("brand"))
print(car['brand'])
print(len(car))
car["year"]= 2022
print(car)

Ford
Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [ ]:


# I variantas
# car["color"] = "red"
# car["used"] = True
# print(car)

#II variantas
car.update({"color":"red","used":True} )
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [ ]:
# Iš esamo žodyno ištrinti ‘brand’ raktą ir reikšmę, 
# o year reikšmę paverskite į None

car =	{
  "brand": "Ford",
  "year": 1992,
  "color" : "red",
  "used" :  True
}


car.pop('brand')
car['year'] = None
print(car)

{'year': None, 'color': 'red', 'used': True}